* {
  font-family: 'Roboto', sans-serif;
}



/**********************************
Main Styles
**********************************/

h1 {
  text-align: center;
}


p {
  padding-top: 30px;
}

img {
  padding-top: 30px;
}


/**********************************
Navigation Bar
**********************************/

.nav li.active a {
  background-color: #5FBAD2;
  color: #fff;
}

.nav li.active a:hover {
  background-color: #5FBAD2;
  color: #fff;
}


/**********************************
Jumbotron
**********************************/

.jumbotron {
  margin-bottom: 50px;
  height: 500px;
  background-image: url("../img/skyline-buildings-new-york-skyscrapers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
}

.jumbotron h1 {
  padding-top: 25%;
  font-size: 8em;
  font-weight: bold;
}

/**********************************
Buttons
**********************************/

button {
  padding: 2px 5px;
  background-color: #5FBAD2;
  text-decoration: none;
  display: block;
}

button a {
  color: #fff;
}

button.active a:hover {
  background-color: #5FBAD2;
  color: #fff;
  text-decoration: none;
}


/**********************************
Elements for Sticky Footer
**********************************/

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.body-content {
  flex: 1 0 auto;
}

#main-footer p{
  padding-top: 5px;
  margin-top: 30px;
  margin-bottom: -10px;
  text-align: center;
  background-color: #5FBAD2;
}



/**********************************
Media Queries
**********************************/


@media (min-width: 768px) {

  img {
    padding-bottom: 100px;
  }

  p {
    margin-top: 5px;
    border-top: 1px solid #5FBAD2;
  }

  .noBorder {
    border-top: none;
    margin-top: 50px;
  }
}



@media (max-width: 767px) {

  p,
  img {
    margin-top: 5px;
    border-top: 1px solid #5FBAD2;
  }

  img {
    padding-bottom: 30px;
  }

  button {
    margin: auto;
  }

}
